<a href="https://colab.research.google.com/github/SANGEETHAPAULRAJ/mypythonsessions/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import scipy.stats as stats
from scipy.stats import ttest_1samp

In [7]:
data=pd.read_csv('/content/sample_data/california_housing_test.csv')

In [8]:
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [9]:
data['total_rooms'].mean()

2599.578666666667

In [19]:
t_statistic,p_value=ttest_1samp(data['total_rooms'],2600)

In [20]:
p_value

0.9914588730971516

In [23]:
t_statistic,p_value=ttest_1samp(data['total_rooms'],2800)

In [24]:
p_value

3.7506413945873113e-07

In [28]:
t_statistic,p_value=ttest_1samp(data['total_rooms'],2780)

In [29]:
p_value

4.739308127081807e-06